*{
    margin: 0;
    padding: 0;    
    box-sizing: border-box;
    align-items: center;
}

h1 {
  font-size: 50px;
  color: #2f91f4;
  text-decoration: underline;
  text-align: center;
  padding: 10px;
}
@media screen and (max-width: 480px) {
  h1 {
padding: 20px;
  }
}

#tasks{
  border: 2px solid black;
  background-color: white;
  height: 30vh;
}

.container{
    top: 50%;
    text-align: center;
    width: 50%;
    height: 70%;
    left: 50%;
    padding: 20px;
    background: rgb(31, 37, 45);
    border: 3px solid #111111;
    min-width: 250px;
    position: fixed;
    min-height: 100px;
    transform: translate(-50%,-50%);
}
@media screen and (max-width: 680px) {
  .container {
    width: 80%;
  }
}
@media screen and (max-width: 480px) {
  .container {
    width: 100%;
    height: 100%;
  }
}

#addInput{
    position: relative;
    padding: 30px 20px;
}
@media screen and (max-width: 680px) {
    #addInput{
        padding: 15px 10px;
    }
}

input{
    width: 55%;
    height: 45px;
    padding: 12px;
    color: #111111;
    font-weight: 500;
    position: relative;
    border-radius: 5px;
    font-family: 'Poppins',sans-serif;
    font-size: 15px;
    border: 2px solid #041e2c;
}
@media screen and (max-width: 680px) {
    input{
        width: 70%;
    }
}
@media screen and (max-width: 480px) {
    input{
        width: 100%;
    }
}

input:focus{
    outline: none;
    border-color: #e6e9ec;
}

#addTask{
    position: relative;
    font-weight: 500;
    font-size: 16px;
    background-color: #27ec0d;
    border: none;
    color: #1c1b1d;
    cursor: pointer;
    outline: none;
    width: 10%;
    height: 45px;
    border-radius: 5px;
    font-family: 'Poppins',sans-serif;
}
@media screen and (max-width: 480px) {
  #addTask {
    width: 90%;
    height: 25px;
    margin-top: 10px;
    margin-bottom: 30px;
  }
}

#fix{
    position: relative;
    font-weight: 500;
    font-size: 16px;
    background-color: #c1c3c7;
    border: none;
    color: #1c1b1d;
    cursor: pointer;
    outline: none;
    width: 10%;
    height: 45px;
    border-radius: 5px;
    font-family: 'Poppins',sans-serif;  
}
@media screen and (max-width: 480px) {
  #fix {
    width: 90%;
    height: 25px;
    margin-bottom: 10px;
  }
}
@media screen and (max-width: 680px) {
  #addInput button {
    font-size: 10px;
    height: 10px;
    width: 50%;
  }
}


#tasks{
    border-radius: 10px;
    width: 100%;
    position: relative;
    height: 300px;
    overflow-y: scroll;
    background-color: #0b67c4;
    padding: 30px 20px;
    margin-top: 10px;
}
/* width */
div ::-webkit-scrollbar {
  width: 10px;
}

/* Track */
div ::-webkit-scrollbar-track {
  background: #0b67c4; 
  border-radius: 10px;

}
 
/* Handle */
div ::-webkit-scrollbar-thumb {
  background: #888b8e;
  border-radius: 4px;
  border: 1px solid #d0d4d7;

}

/* Handle on hover */
div ::-webkit-scrollbar-thumb:hover {
  background: #053e76; 
}

.task{
    border-radius: 5px;
    align-items: center;
    justify-content: space-between;
    border: 2px solid #090a0b;
    cursor: pointer;
    background-color: #d8d9d9;
    height: 50px;
    margin-bottom: 8px;
    padding: 5px 10px;
    display: flex;
}
@media screen and (max-width: 680px) {
    .task{
        font-size: 15px;
        height: 30px;
    }
}
.task span{
    font-family: 'Poppins',sans-serif;
    font-size: 20px;
    font-weight: 400;
}

.task button{
    border: none;
    cursor: pointer;
    outline: none;
    height: 100%;
    width: 40px;
    border-radius: 5px;
}
@media screen and (max-width: 680px) {
    .task button{
width:20px;
    }
}

.redx {
height: fit-content;
width: 40px;
}
@media screen and (max-width: 680px) {
.redx {width: 15px; } 
}